<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="author" content="{{ site.Params.Author.name }}" />
{{ if .IsHome }}
<meta name="description" content="{{ site.Params.Description }}" />
{{ else }}
<meta name="description" content="{{ .Params.Description }}" />
{{ end }}
<meta name="keywords" content="NTBBloodbath, Blog, Development, Neovim, Lua" />
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}