{{ define "main" }}
    <div class="container mx-auto">
        <div class="pt-24 text-center">
            <h1 class="mt-8 lg:mt-12 text-6xl lg:text-8xl text-center">Welp...</h1>
            <h2 class="mt-8 lg:mt-12 text-5xl lg:text-7xl text-center text-love">404</h2>
            <h3 class="text-3xl lg:text-4xl text-center text-love">Page not found</h3>
            <h3 class="mt-8 lg:mt-12 text-xl lg:text-4xl text-center">You weren't supposed to get here, were you?</h3>
        </div>
        <p class="pt-10 lg:pt-12 text-xl lg:text-2xl text-center">
            If you think this is a problem, please let me know.
        </p>
    </div>
{{ end }}